.home-page {

    .top-tags {
        bottom: auto;
        top: 15px;
    }

    .tags {
        color: #ffd700;
        opacity: 0.6;
        position: absolute;
        bottom: 0;
        left: 120px;
        font-size: 14px;
        font-family: 'Menlo-Regular', sans-serif;
    }

    .css-typing p {
        margin-top: 50px;
        color: #fff;
        line-height: 40px;
        margin-inline-end: 5px;
        margin: 2px;
        border-right: .15em solid orange;
        font-family: "Menlo-Regular", sans-serif;
        font-size: 35px;
        white-space: nowrap;
        overflow: hidden;
        top: 1%;
        bottom: 1%;
    }

    .css-typing p:nth-child(1) {
        margin-top: 50px;
        border-right: .15em solid orange;
        width: 2.5em;
        opacity: 0;
        -webkit-animation: type2 2s steps(4, end), blink .5s step-end infinite alternate;
        animation: type2 2s steps(4, end), blink .5s step-end infinite alternate;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-duration: 250ms;
    }

    .css-typing p:nth-child(2) {
        border-right: .15em solid orange;
        width: 6.5em;
        opacity: 0;
        -webkit-animation: type2 2s steps(11, end), blink .5s step-end infinite alternate;
        animation: type2 2s steps(11, end), blink .5s step-end infinite alternate;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-duration: 750ms;
    }

    .css-typing p:nth-child(3) {
        border-right: .15em solid orange;
        width: 10.75em;
        opacity: 0;
        -webkit-animation: type3 2s steps(18, end), blink .5s step-end infinite alternate;
        animation: type3 2s steps(18, end), blink .5s step-end infinite alternate;
        -webkit-animation-delay: 4.5s;
        animation-delay: 4.5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-duration: 1000ms;
    }


    @keyframes type3 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes type3 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes type2 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        99.9% {
            border-right: .15em solid orange;
        }

        100% {
            opacity: 1;
            border: none
        }
    }

    @-webkit-keyframes type2 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        99.9% {
            border-right: .15em solid orange;
        }

        100% {
            opacity: 1;
            border: none
        }
    }

    @keyframes type3 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes type3 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }

    @-webkit-keyframes blink {
        50% {
            border-color: transparent;
        }
    }

    .text-zone {
        position: absolute;
        left: 10%;
        top: 25%;
        transform: translateY(-50);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img {
            width: 32px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }
}

h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 5.8s backwards;
}

.flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 5.8s backwards;
    white-space: nowrap;

    &:hover {
        background: #ffd700;
        color: #333;
    }
}
